.desc-card-main {
  max-width: 300px;
  background: rgba(72, 53, 90, 0.39);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.7rem 1.5rem;

  .my-card-title {
    font-size: 29px;
    background-color: #f3ec78;
    background: linear-gradient(
                    45deg,
                    #a770ef,
                    #cf8bf3
    ); /* Chrome 10-25, Safari 5.1-6 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
  }

  .my-card-subtitle {
    font-weight: 500;
    color: #f2f6f9;
    opacity: 80%;
    font-size: 20px;
  }
}