@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.11);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.041);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.137);
    transform: translatey(0px);
  }
}

.App {

  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .welcome-container {
    min-height: 100vh;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    animation: gradient 10s ease infinite;
    margin: -0.1rem 0 0 0;
    padding: 0;
    background-size: 400% 400%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .head-img-container {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .head-img {
        width: 22vw;
        margin-top: 8rem !important;
        border-radius: 100%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-width: 10px;
        box-shadow: -50px -20px 40px rgba(227, 135, 255, 0.25),
        0px 50px 40px rgba(255, 219, 57, 0.3),
        50px -20px 40px rgba(118, 255, 255, 0.3),
        0 0 2pt 4pt rgba(255, 255, 255, 0.6);
      }
    }

    .head-title-container {

      margin: 30px auto auto auto;
      text-align: center;

      .head-title {
        color: #ffffff;
        font-size: 4vw;
        font-weight: 700;
      }

      .head-subtitle {
        color: #ffffff;
        font-size: 2vw;
        font-weight: 500;
        opacity: 0.7;
      }
    }

    .info-cards {
      position: absolute;
      padding: 15px;
      border-radius: 10px;
      max-width: 300px;
      color: #212529;
      font-weight: 400;

      font-size: 25px;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      animation: float 3s ease-in-out infinite;
    }

    .first-info {
      left: 30vw;
      top: 20vw;
      text-align: center;
    }

    .second-info {
      right: 30vw;
      top:30vw;
    }

    .third-info {
      right: 35vw;
      top: 10vw;
    }
  }

  .about-container {
    min-height: 100vh;
    background-color: #03001e;
    display: flex;
    align-items: center;
    justify-content: center;

    .about-in{

    }

    .nice-word-sec {
      text-align: center;
      padding-top: 70px;

      .nice-word-title {
        color: #ffffff;
        font-weight: 700;
        font-size: 4vw;
      }

      .nice-word-subtitle {
        margin-top: 60px;
        font-size: 2vw;
        background-color: #f3ec78;
        background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 9s ease infinite;
        height: fit-content;
        font-weight: 700;
      }
    }

    .about-sec {
      margin-top: 100px;
      text-align: center;

      .about-title {
        color: #ffffff;
        font-size: 35px;
        font-weight: 700;
      }

      .about-text {
        font-size: 25px;
        color: #ffffff;
        font-weight: 300;
      }
    }
  }

  .skills-container {
    min-height: 100vh;
    background-color: #0d0740;
    position: relative;

    .card-sec {
      margin: auto;
      padding: 70px;
      display: flex;
      justify-content: space-between;

      .frontend-card {

      }

      .backend-card {
        margin-top: 11vw;
        margin-left: 9px;
      }

      .software-card {
        margin-top: 21vw;
        margin-left: 9px;
      }

      .other-card {
        margin-top: 31vw;
        margin-left: 9px;
      }

    }

    .emoji-sec {
      position: absolute;
      left: 20px;
      bottom: 0;

      .emoji-img {
        width: 45vw;
        height: 30vw;
      }
    }

    .skill-title{
      position: absolute;
      right: 15vw;
      top: 10vw;
      color: #ffffff;
      font-size: 5vw;
      font-weight: 800;
    }
  }

  .contact-container {
    min-height: 100vh;
    background-color: #26243A;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-title {
      font-size: 5vw;
      font-weight: 300;
      padding-top: 30px;
      color: #ffffff;
    }

    .contact-title-second {
      padding-top: 20px;
      font-size: 5vw;
      background-color: #f3ec78;
      background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
      background-size: 400% 400%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 9s ease infinite;
      height: fit-content;
      font-weight: 800;
    }

    .social-links {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;

      .soc-icon {
        transition: 0.3s;
        color: #ffffff;

        &:hover {
          transition: 0.2s;
        }
      }


      .insta-link {

        .ins-ico {
          &:hover {
            color: #f0512e;
          }
        }

      }

      .in-link {

        .in-ico {
          &:hover {
            color: #0B65C2;
          }
        }

      }

      .git-link {

        .git-ico {
          &:hover {
            color: black;
          }
        }
      }
    }

    .email-sec {
      padding-top: 50px;
      font-size: 40px;
      color: #ffffff;
      font-weight: 200;
    }
  }

  .footer-container {
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;

  }
}