@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {

  .welcome-container {
    min-height: 100vh;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    animation: gradient 10s ease infinite;
    margin: -0.1rem 0 0 0;
    padding: 0;
    background-size: 400% 400%;
    height: fit-content;

  }
}